@import "../../styles/theme.scss";

.Container {
  width: 300px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template: repeat(20, 1fr) / repeat(10, 1fr);

  border: 5px solid $grid-border;
}
