@import "./theme.scss";

.I {
  background-color: $tetromino-i;
}

.O {
  background-color: $tetromino-o;
}

.T {
  background-color: $tetromino-t;
}

.S {
  background-color: $tetromino-s;
}

.Z {
  background-color: $tetromino-z;
}

.J {
  background-color: $tetromino-j;
}

.L {
  background-color: $tetromino-l;
}
