$app-background: black;

$grid-border: rgb(121, 121, 121);
$grid-square-border: #404040;
$grid-square-empty: black;

$tetromino-i: #46ebe5;
$tetromino-o: #f5f52f;
$tetromino-t: #d42ff5;
$tetromino-s: #2ff536;
$tetromino-z: #f52f2f;
$tetromino-j: #161afa;
$tetromino-l: #faaa16;
